@model HotelBooking.Models.ActiveBook

@{
    ViewBag.Title = "Заказы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Вы уверены, что хотите отменить бронь?</h3>
<div>
    <h4>ActiveBook</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Place.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDay)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Отменить" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
